.Condicionantes {
  font-family: inter;
  .Ambiental {
    .titleSectionAmbinetal {
      text-align: center;
      font-size: 5vh;
      margin-bottom: 7vh;
      position: relative;
      top: 3vh;
    }
  }
}
.textApresentation {
  margin: 0 auto;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: relative;
  top: 3vh;
  p {
    width: 60%;
  }
  .Permitted {
    width: 30%;
    background-color: rgb(238, 241, 243);
    min-height: 6vh;
    justify-content: center;
    padding: 2vh;
    border-radius: 1.5vh;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    h3 {
    }
    .holl {
      display: flex;
      justify-content: space-between;
    }
  }
}
.RestricoesZoneamento {
  position: relative;
  top: 6vh;
  display: flex;
  margin: 0 auto;
  justify-content: space-around;
  background-color: rgb(17, 255, 0);
  padding: 2vh;
  margin-bottom: 6vh;

  .Restricoes {
    width: 40%;
    background-color: rgba(255, 255, 255, 0.933);
    backdrop-filter: blur(1vh);
    padding: 2vh;
    border-radius: 1.5vh;

    .titulo {
      text-transform: uppercase;
      margin-bottom: 1vh;
    }
    .restricaoText {
      li {
        margin-left: 2vh;
      }
    }
  }

  .RegDowData {
    width: 50%;

    .Zoneamento {
      text-transform: uppercase;
      font-size: 2vh;
      font-weight: bold;
      background-color: rgba(255, 255, 255, 0.871);
      backdrop-filter: blur(1vh);
      padding: 1vh;
      margin-bottom: 2.3vh;
      border-radius: 1vh;
    }
    .RegrasDeUsoBody {
      display: flex;
      justify-content: space-between;
      .RegrasDeUso {
        width: 50%;
      }
      .ocupacao {
        width: 50%;
        border-left: 1px solid;
        padding-left: 3vh;
      }
    }
  }
}
.DadosGerais {
  width: 85%;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  gap: 6vh;
  position: relative;
  top: 3vh;
  margin-bottom: 5vh;
}
.Downloadable {
  text-align: left;
  width: 100%;
  

  .card {
    width: 5vh;
  }
}
.Downloadable .card-body {
  display: flex;
  align-items: center;
  margin-bottom: 0.2vh;
}
.Downloadable .card-body p {
  margin: 0 10px;
}
.Downloadable .btn {
  background-color: #2b2b2b;
  color: white;
  padding: 5px 10px;
  text-decoration: none;
  border-radius: 3px;
  &:hover {
    background-color: #21c41b;
    color: #2b2b2b;
  }
}
.GeneralDataBody {
  width: 100%;
  background-color: #fff8f8;
  padding: 2vh;
  border-radius: 1vh;
  box-shadow: rgba(99, 99, 99, 0.199) 0px 2px 8px 0px;

  h3 {
    &::after {
      content: "";
      width: 30vh;
      height: 0.5vh;
      background-color: #21c41b;
      display: block;
      border-radius: 1vh;
      margin-bottom: 1.5vh;
    }
  }

  .infos {
    display: flex;
    gap: 3vh;
    li {
      list-style-type: none;
    }
    .col1 {
      width: 50%;
    }
  }
}
.PendenciasIptu {
  width: 100%;
  padding: 2vh;
  margin-left: 1.5vh;
  border-radius: 1vh;
}

.AnaliseAmbiental {
  width: 85%;
  display: flex;
  gap: 5vh;
  align-items: center;
  margin: 0 auto;

  .dataSet {
    min-height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .Legenda {
      h3 {
        text-transform: uppercase;
        font-size: 2.4vh;
        color: #2b2b2b;
        margin-bottom: 1vh;
      }
      .AreasVerdes {
        display: flex;
        gap: 1vh;
        align-items: center;
        .AreasVerdesCollorBox {
          width: 2vh;
          height: 2vh;
          background-color: #c4371b;
          border: 1px solid;
        }
      }
      .App {
        display: flex;
        gap: 1vh;
        align-items: center;
        .AppCollorBox {
          width: 2vh;
          height: 2vh;
          background-color: #fa8100;
          border: 1px solid;
        }
      }
    }
    a {
      text-decoration: none;
      color: #fff8f8;
      background-color: #2b2b2b;
      padding: 2vh 4vh;
      text-align: center;
      border-radius: 1vh;
      &:hover {
        background-color: #21c41b;
        color: #2b2b2b;
      }
    }
    .Infos {
      h3 {
        text-decoration: none;
        color: #2b2b2b;
        text-transform: uppercase;
        padding: 0.4vh;
        background-color: #21c41b;
        width: 100%;
        min-width: 70%;
        text-align: center;
        border-radius: 0.5vh;
      }
      li {
        list-style-type: none;
        margin-top: 1vh;
      }
    }
  }
}
.Enchentes {
  .text {
    display: flex;
    flex-direction: column;
    h3 {
      text-align: center;
      font-size: 5vh;
      margin-bottom: 5vh;
      position: relative;
      top: 3vh;
    }
    p {
      width: 80%;
      margin: 0 auto;
      text-align: center;
      background-color: #ebeaea;
      padding: 2vh;
      margin-bottom: 3vh;
      border-radius: 1vh;
    }
  }
  .printsDosNiveis {
    width: 80%;
    margin: 0 auto;
    img {
      width: 100%;
      height: 40vh !important;
      overflow: hidden;
      object-fit: cover;
      height: auto;
      border-radius: 1vh 1vh 0vh 0vh;
    }
    display: grid;
    grid-template-columns: repeat(2, 1fr);

    .enchenteSeteMetros {
      width: 80%;
      margin: 0 auto;
      margin-bottom: 4vh;
      margin-top: 4vh;
      h3 {
        text-transform: uppercase;
        background-color: #315b49;
        position: relative;
        top: -2vh;
        padding: 2vh;
        color: #21c41b;
        text-align: center;
        border-radius: 0vh 0vh 1vh 1vh;
      }
    }
  }
  .MapaDeCartaDeEnchentes {
    width: 80%;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
    text-align: justify;
    .Texts {
      width: 40%;
      h2 {
        text-transform: uppercase;
        line-height: 3vh;
        margin-bottom: 2vh;
      }
    }
  }
}

.EnvoltaDoImovel {
  width: 85%;
  margin: 0 auto;
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-around;
  align-items: center;

  .legendaCompletaDoArredorDoImol {
    width: 100%;
    display: flex;
    gap: 10vh;
    justify-content: space-between;
    margin-bottom: 2vh;
  }
  h3 {
    text-transform: uppercase;
    font-size: 3vh;
    margin-bottom: 4vh;

    &::after {
      display: flex;
      content: "";
      width: 10vh;
      height: 0.5vh;
      border-radius: 1vh;
      background-color: #21c41b;
    }
  }

  .Legend {
    align-items: center;
    display: flex;
    gap: 1vh;
    margin-bottom: 1vh;
    span {
      width: 20px !important;
      height: 20px !important;
    }
    .fisioterapia {
      background-color: rgb(15, 157, 88);
    }
    .conveniecnia {
      background-color: rgb(129, 119, 23);
    }
    .Padaria {
      background-color: rgb(249, 168, 37);
    }
    .Petshop {
      background-color: rgb(175, 180, 43);
    }
    .WeGoGym {
      background-color: rgb(31, 123, 49);
    }
    .CuidadosComCabelo {
      background-color: rgb(165, 39, 20);
    }
    .Escolas {
      background-color: rgb(83, 12, 95);
    }
    .PontoDeOnibus {
      background-color: rgb(15, 15, 15);
    }
    .Faculdade {
      background-color: rgb(182, 182, 182);
    }
    .Mercados {
      background-color: rgb(11, 141, 150);
    }
    .Parques {
      background-color: rgb(46, 36, 33);
    }
    .centro {
      background-color: rgb(129, 119, 23);
    }
    .hospitalMaisProximo {
      background-color: rgb(94, 6, 73);
    }
    .Creche {
      background-color: rgb(9, 113, 56);
    }
    .Havan {
      background-color: rgb(230, 230, 19);
    }
    .Estadio {
      background-color: rgb(11, 63, 152);
    }
    .mecanica {
      background-color: rgb(11, 77, 61);
    }
    .Lifestyle {
      background-color: rgb(230, 80, 0);
    }
  }
  a {
    text-decoration: none;
    color: #fff8f8;
    background-color: #2b2b2b;
    padding: 2vh 8vh;
    text-align: center;
    border-radius: 1vh;
    margin-top: 5vh !important;


    &:hover {
      background-color: #21c41b;
      color: #2b2b2b;
    }
  }
}
.EnvoltadoImovelTitle {
  text-align: center;
  font-size: 5vh;
  margin-bottom: 5vh;
  position: relative;
  top: 3vh;
}
.emvoltaDoImovelSubtitle {
  width: 80%;
  margin: 0 auto;
  text-align: center;
  background-color: #ebeaea;
  padding: 2vh;
  margin-bottom: 3vh;
  border-radius: 1vh;
}

@media screen and (max-width: 600px) {
  .Condicionantes{
    width: 100% !important;
  }
  .textApresentation {
    width: 90%;
    flex-direction: column !important;
    p {
      width: 100% !important;
      text-align: justify;
      margin-bottom: 1vh !important;
    }
    .Permitted {
      width: 85% !important;
      box-sizing: border-box;
      padding: 1vh !important;
      border-radius: 0.3vh;
      margin-top: 1vh !important;

      .holl {
        p {
          font-size: 1.5vh;
        }
      }
    }
  }
  .RestricoesZoneamento {
    position: relative;
    top: 6vh;
    display: flex;
    flex-direction: column;

    .Restricoes {
      width: 85% !important;
      margin: 0 auto;
      margin-bottom: 2vh;
    }

    .RegDowData {
      width: 85% !important;
      margin: 0 auto;
    }
  }
  .DadosGerais {
    display: flex !important;
    flex-direction: column !important;

    .GeneralDataBody {
      min-width: none;
      max-width: 80% !important;
      min-width: none !important;

      .infos {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .Ambiental {
    .titleSectionAmbinetal{
      font-size: 3vh;
      text-align: center;
    }
    
    .AnaliseAmbiental {
      display: flex;
      flex-direction: column;


      iframe {
        display: flex;
        width: 90% !important;
        margin: 0 auto;
      }
      .dataSet{
        width: 80% !important;
        margin: 0 auto;

        .infos{
          min-width: none;
          max-width: 300px !important;
          width: 80% !important;
        }
      }

    }
  }
  .Enchentes{
  
    .printsDosNiveis{
      width: 95%;
      display: flex !important;
      flex-direction: column !important;
      img{
        width: 100% !important;
      }
      .enchenteSeteMetros{
        margin: 0 auto;
        gap: 3vh;
        flex-direction: column;
      }
    }
  }
  .MapaDeCartaDeEnchentes {
    flex-direction: column;
    iframe{
      width: 90% !important;
    }

    .Texts{
      width: 90% !important;
      text-align: justify;
      margin-top: 2vh !important;
      margin-bottom: 2vh !important;
    }
  }
  .EnvoltaDoImovel{
    width: 90% !important;
    margin: 0 auto;
    flex-direction: column-reverse !important;
    
    iframe{
      width: 90% !important;
      margin-top: 6vh !important;
    }
    .legendaCompletaDoArredorDoImol{
      width: 90% !important;
      min-width: none !important;
      flex-direction: column;
      gap: 0vh !important;
      
      .Legend{
        span{
          width: 20px !important;
          height: 20px !important;
        }
      }

      a{
        margin-top: 3vh;
        margin-bottom: 3vh;
      }

    }
  }

}
@media screen and (max-width: 400px) {
  .Condicionantes{
    width: 100% !important;
  }
  .textApresentation {
    width: 90%;
    flex-direction: column !important;
    p {
      width: 100% !important;
      text-align: justify;
      margin-bottom: 1vh !important;
    }
    .Permitted {
      width: 85% !important;
      box-sizing: border-box;
      padding: 1vh !important;
      border-radius: 0.3vh;

      .holl {
        p {
          font-size: 1.5vh;
        }
      }
    }
  }
  .RestricoesZoneamento {
    position: relative;
    top: 6vh;
    display: flex;
    flex-direction: column;

    .Restricoes {
      width: 85% !important;
      margin: 0 auto;
      margin-bottom: 2vh;
    }

    .RegDowData {
      width: 85% !important;
      margin: 0 auto;
    }
  }
  .DadosGerais {
    display: flex !important;
    flex-direction: column !important;

    .GeneralDataBody {
      min-width: none;
      max-width: 80% !important;
      min-width: none !important;

      .infos {
        display: flex;
        flex-direction: column;
      }
    }
  }
  .Ambiental {
    .titleSectionAmbinetal{
      font-size: 3vh;
      text-align: center;
    }
    
    .AnaliseAmbiental {
      display: flex;
      flex-direction: column;


      iframe {
        display: flex;
        width: 90% !important;
        margin: 0 auto;
      }
      .dataSet{
        width: 80% !important;
        margin: 0 auto;

        .infos{
          min-width: none;
          max-width: 300px !important;
          width: 80% !important;
        }
      }

    }
  }
}