.bodySectionGridContainer {
  margin-bottom: 3vh;
}

.grid-container {
  width: 75%;
  min-height: 30vh !important;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5vh;
  padding: 20px;
  font-family: Inter, sans-serif;
}

.grid-item {
  position: relative;
  min-height: 15vh;
}

.annotation {
  background-color: #d9f6df;
  border-radius: 5px;
  min-height: 15vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.HeadderCard {
  display: flex;
  justify-content: space-between;
  background-color: #315b49;
  padding: 1.3vh 1vh;
  border-radius: 1vh 1vh 0 0;
  color: #8ad31a;
  align-items: center;

  .order {
    font-size: 1.3vh;
  }

  .codigo {
    text-transform: uppercase;
    font-size: 1.4vh;
    background-color: #d9f6df;
    padding: 0.5vh 1.5vh;
    border-radius: 0.4vh;
    color: #315b49;
  }
}

.SectionBodyData {
  padding: 0 1vh;
  align-items: center;

  .EntryMessage {
    text-align: justify;
    padding: 0.5vh 1vh;
  }

  .ListClients {
    margin-left: 2vh;
    list-style-type: none;
    line-height: 1.9vh;
    padding: 1vh 1vh 1vh 1vh;
  }
}

.HistoricTitle {
  width: 75%;
  margin: 0 auto;
  text-align: center;
  font-size: 3vh;
  font-family: inter;
  margin-top: 3vh;
  margin-bottom: 2vh;
  display: flex;
  justify-content: space-between;

  a {
    text-decoration: none;
    color: #0b301f;
    background-color: #12c80f;
    padding: 1.5vh 5vh;
    border-radius: 1vh;
    text-transform: uppercase;
    font-size: 2vh;
    font-weight: bold;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

    &:hover {
      background-color: #0b301f;
      color: #12c80f;
    }
  }
}
@media screen and (max-width: 900px) {
  .bodySectionGridContainer {
    width: 100%;

    .grid-container {
      display: flex;
      flex-direction: column;
    }
  }
}

@media screen and (max-width: 600px) {
  .bodySectionGridContainer {
    width: 100%;

    .grid-container {
      display: flex;
      flex-direction: column;
    }
  }
  .HistoricTitle {
    width: 100%;

    font-size: 2vh;
    flex-direction: column !important;

    a {
      font-size: 1.6vh;
      padding: 1vh 3vh;
      margin-top: 1vh;
    }
  }
}

@media screen and (max-width: 400px) {
  .bodySectionGridContainer {
    width: 100%;

    .grid-container {
      display: flex;
      flex-direction: column;
    }
  }
  .HistoricTitle {
    width: 80%;
    font-size: 2vh;
    flex-direction: column !important;
    margin: 0 auto;
    margin-top: 2vh;
    a {
      font-size: 1.6vh;
      padding: 1vh 3vh;
      margin-top: 1vh;
    }
  }
}
