.Header{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10vh;
    font-family: inter;
    box-shadow: rgba(0, 0, 0, 0.10) 0px 3px 8px;

    ul{
        list-style-type: none;
        display: flex;
        gap: 10vh;

        li{
            padding: 1vh 2vh; 
            border-radius: 1vh;
            a{
                color: #000;
                text-decoration: none;
            }

            &:hover{
                background-color: #315B49;
                a{
                    color: #8AD31A;
                }
            }
        }
    }

    img{
        width: 20vh;
    }
}

.selecionado{
    background-color: #8AD31A;
}